@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	font-family: Verdana;
	text-decoration-color: none;
	color: #535252;
	background-color: #FFFFFF;
	height: 100%;
}
h2 {
	font-size: 14pt;
	font-family: Verdana;
	color: #537682;
}
h3 {
	font-family: Verdana;
	font-size: 12pt;
	color: #537682;
}
p {
	font-family: Verdana;
	font-size: 12pt;
}
.header_image {
	background-image: url("moodboard_styletile/udendørs_koncert.png");
	margin: 0;
	padding: 0;
	width: 100%;
	height: 340px;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	margin-top: 0px;
}
#begivenheder {
	font-family: Verdana;
	color: #F9FBFC;
	left: 35%;
	position: absolute;
	top: 25%;
	font-size: 25pt;
	width: 400px;
	border: medium;
	border-color: white;
	border-style: solid;
	border-width: 3px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
.event_container1 {
	height: 100%;
	width: 65%;
	padding: 30px;
	padding-top: 15px;
	padding-bottom: 5px;
	margin-left: 15.5%;
	margin-top: 5%;
	overflow: hidden;
	display: inline-block;
	border: solid;
	border-width: 2px;
	border-color: #535252;
}
.event_container_text1 {
	float: left;
	overflow: hidden;
	display: inline;
	padding-left: 50px;
}
.event_container_text1 .beskrivende_tekst {
	width: 500px;
	height: 100px;
}
.event_img {
	float: left;
	overflow: hidden;
	display: inline;
	position: relative;
	width: 300px;
	height: 200px;
	border: solid;
	border-width: 1px;
	border-color: #535252;
	margin-top: 20px;
}
.i_kurv_knap {
	width: 100px;
	height: 55px;
	font-family: Verdana;
	color: #F9FBFC;
	background-color: #537682;
	border-radius: 20px;
	border: hidden;
	float: right;
	margin: 20px;
	font-size: 11pt;
}
.i_kurv_knap:hover {
	background-color: #535252;
}
#i_kurv_2 {
	margin-left: 130px;
}
.antal_knap {
	height: 25px;
	display: inline-flex;
}
.antal_knapper {
	padding-right: 50px;
}
.mere_knap {
	border: none;
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 12pt;
	color: #537286;
}
.mere_knap:hover {
	color: #535252;
}
.event_beskrivelse {
	display: table;
}
.event_knapper {
	background-color: #FFFFFF;
	height: 100px;
}

/*Javascript sektion*/

#lightbox {
 	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: 0px;
  	left: 0px;
  	background: rgba(0, 0, 0, 0.3);
  	display: none;
}

#lightbox.open {
  	display: block;
	z-index: 1;
}

#lightbox_content {
  	position: absolute;
  	width: 800px;
  	height: 500px;
  	background: #ffffff;
  	border-radius: 3px;
  	left: 50%;
  	top: 50%;
  	margin-left: -400px;
  	margin-top: -250px;
  	text-align: left;
}

#close {
  	position: absolute;
  	right: 20px;
  	top: 20px;
  	background: rgba(0, 0, 0, 0.2);
  	height: 20px;
  	width: 20px;
  	border-radius: 15px;
  	text-align: center;
  	color: #ffffff;
 	cursor: pointer;
}
.lightbox_beskrivelse_af_foredrag {
	width: 700px;
	padding: 50px;
	font-size: 10pt;
	margin-top: -20px;
}
/*Javascript sektion*/

#lightbox_1 {
 	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: 0px;
  	left: 0px;
  	background: rgba(0, 0, 0, 0.3);
  	display: none;
}

#lightbox_1.open {
  	display: block;
	z-index: 1;
}

#lightbox_content_1 {
  	position: absolute;
  	width: 800px;
  	height: 340px;
  	background: #ffffff;
  	border-radius: 3px;
  	left: 50%;
  	top: 50%;
  	margin-left: -400px;
  	margin-top: -250px;
  	text-align: left;
}

#close_1 {
  	position: absolute;
  	right: 20px;
  	top: 20px;
  	background: rgba(0, 0, 0, 0.2);
  	height: 20px;
  	width: 20px;
  	border-radius: 15px;
  	text-align: center;
  	color: #ffffff;
 	cursor: pointer;
}

/*Footer*/

.footer-distributed{
  background-color: #cddbc4;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: Verdana;
  font: bold 12px;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
#mail:hover {
	color: #FFFFFF;
}
.kontakt {
	margin-top: -20px;
	padding-top: 0px;
}
/* Footer Center */

.footer-distributed .footer-center{
  width: 40%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #525353;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #535252;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display: block;
  font-size: 14px;
  line-height: 2;
  font-weight: bold;
}

.footer-distributed .footer-center p a{
  color:  #535252;
  text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
  padding-right: 20px;
  float:right;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #535252;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  float:right;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #535252;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
#facebook_link {
	margin-top: 10px;
	position: absolute;
	background-image: url("resourcer/facebook_icon.png");
}

/*Navbar*/

* {
    box-sizing: border-box;
}

.navbar {
    
    background-color: #cddbc4;
    font-family: verdana, sans-serif;
    height: 70px;
    width: 100;
}



/* langeskov logo overlapper */
#logo_container {
  height: 150px;
  width: 100;
  position: absolute;
  overflow: visible;
  margin: 0 0 30px;
  padding: 20px 30px;
  padding-left: 60px;
  z-index:99px;

}

.navbar a {
    float: right;
    font-size: 16px;
    color:#535252;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}



.dropdown {
    float: right;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: grey;
    padding: 30px 20px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    color:#535252;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}




/* 3 kolonner der er ved siden af hinanden */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: lightgrey;
    height: 250px;

}

.column a {
    float: none;
    color: #535252;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}

/* Clear floats efter kolonner */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#cd-cart {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;

  /* header height */
  padding-top: 50px;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  transition: right 0.3s;
}

#cd-cart.speed-in {
  right: 0;
}