
/* menubar */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    
    background-color: #cddbc4;
    font-family: verdana, sans-serif;
    height: 70px;
    width: 100;
}



/* langeskov logo overlapper */
#logo_container {
  height: 150px;
  width: 100;
  position: absolute;
  overflow: visible;
  margin: 0 0 30px;
  padding: 20px 30px;
  padding-left: 60px
  z-index:99px ;

}

.navbar a {
    float: right;
    font-size: 16px;
    color:#535252;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
}


.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: lightgrey;}


/* 3 kolonner der er ved siden af hinanden */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: lightgrey;
    height: 250px;

}

.column a {
    float: none;
    color: #535252;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: lightgrey;
}

/* Clear floats efter kolonner */
.row:after {
    content: "";
    display: table;
    clear: both;
}


 


